{{template "base" .}}

{{define "content"}}


<div class="container pt-3" >
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 mx-auto d-block">
            <img src="/static/images/majors.jpg" alt="Major's suite room" class="img-fluid img-thumbnail">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eaque nulla nesciunt odio perferendis,
                dignissimos eius neque eveniet nihil? Nisi, quasi obcaecati? Officia assumenda impedit, repudiandae
                omnis libero harum explicabo?</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-btn" href="#" class="btn btn-success">Make reservation now</a>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script>
    const elem = document.getElementById("reservation-dates")
    const rangepicker = new DateRangePicker(elem, {
        buttonClass: 'btn',
        format: "dd/mm/yyyy"
    })

    document.getElementById('check-availability-btn').addEventListener("click", function () {
        let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start"
                                        placeholder="Arrival">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end"
                                        placeholder="Departure">
                                </div>
                            </div>
                        </div>
                    </div / </form>
            `

        attention.custom({ msg: html });
    })
</script>
{{end}}