{{template "base" .}}

{{define "content"}}

<div class="container pt-3">
    <div class="row">
        <h2>Make reservation</h2>
    </div>

    <form method="post" action="" class="needs-validation" novalidate>
        <div class="row">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" required>
            <div class="valid-feedback">
                Validated
            </div>
            <div class="invalid-feedback">
                Invalid first name
            </div>
        </div>
        <div class="row">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" required>
            <div class="valid-feedback">
                Validated
            </div>
            <div class="invalid-feedback">
                Invalid last name
            </div>
        </div>
        <div class="row">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <div class="valid-feedback">
                Validated
            </div>
            <div class="invalid-feedback">
                Invalid email
            </div>
        </div>
        <div class="row">
            <label for="phone">Phone number</label>
            <input type="text" name="phone" id="phone" class="form-control" required>
            <div class="valid-feedback">
                Validated
            </div>
            <div class="invalid-feedback">
                Invalid phone number
            </div>
        </div>
        <button type="submit" class="mt-3 btn btn-primary">Make reservation</button>
    </form>
</div>

{{end}}

{{define "js"}}

<script>
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
</script>

{{end}}