{{template "base" .}}

{{define "content"}}
<div class="container pt-3">
    <div class="row">
        <h2>Reservation</h2>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Search for availability</h3>
            <form method="post" action="/reservation" class="needs-validation">
                <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
                    <div id="reservation-dates">
                        <div class="row">
                            <div class="col">
                                <label for="starting_date" class="form-label">Starting date</label>
                                <input class="form-control" type="text" name="start" id="starting_date" aria-describedby="startDateHelp" required>
                                <div id="emailHelp" class="form-text">Enter your starting date</div>
                            </div>
                            <div class="col">
                                <label for="ending_date" class="form-label">Ending date</label>
                                <input class="form-control" type="text" name="end" id="ending_date" aria-describedby="endDateHelp" required>
                                <div id="emailHelp" class="form-text">Enter your ending date</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                <button type="submit" class="btn btn-primary" >Search availability</button>
            </form>
            <button id="submitBtn">Submit</button><button id="testBtn">Test</button>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>

<script>
    const elem = document.getElementById("reservation-dates")
    const rangepicker = new DateRangePicker(elem, {
            buttonClass: 'btn',
            format: "dd/mm/yyyy"
        })

    document.getElementById('submitBtn').addEventListener("click", function () {
    let html = `
    <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
        <div class="row">
            <div class="col">
                <div class="row" id="reservation-dates-modal">
                    <div class="col">
                        <input disabled required class="form-control" type="text" name="start" id="start"
                            placeholder="Arrival">
                    </div>
                    <div class="col">
                        <input disabled required class="form-control" type="text" name="end" id="end"
                            placeholder="Departure">
                    </div>
                </div>
            </div>
        </div / </form>
        `
    
        attention.custom({ msg: html });
        })
    
        document.getElementById('testBtn').addEventListener("click", function () {
        //notifyModal('title',"<em>Hello world</em>","error","Close")
    
        attention.error({ msg: "Testing" })
        })
</script>
{{end}}